body {
  background-image: url('Background/spaghetti-with-garlic-mushrooms.jpg');
 }


#cardsContainer {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 1fr;
  display: grid;
}

#cardsContainerShop {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 1fr;
  display: grid;
}

.card-link {
  text-decoration: none;
  color: black;
  font-size: medium;
  
}

.btnYellow {
  background-color: #155263;
  color: white;
  transition: background-color 0.3s ease; 
}

.btnYellow:hover {
  background-color: #FFCC47;
  color: white;
  font-weight: bold;
}

.btnYellow.active {
  background-color: #FFCC47; /* Set to the darker color when the button is active/clicked */
  color: white;
  font-weight: bold;
}

.btnYellowStockDisc {
  background-color: #155263;
  color: white;
  transition: background-color 0.3s ease; 
}

.btnYellowStockDisc:hover {
  background-color: #FFCC47;
  color: white;
  font-weight: bold;
}

.btnYellowStockDisc.active {
  background-color: #FFCC47; /* Set to the darker color when the button is active/clicked */
  color: white;
  font-weight: bold;
}

.btnHidden {
  background-color: white;
  color: white;
  transition: background-color 0.3s ease; 
}

.custom-nav-pills .nav-link.active {
  background-color:#155263;
  color: white;
  font-weight: bold;

}
.custom-nav-pills .nav-link.dropdown-toggle {
  color: #155263;
  font-weight: bold;
}
.nav-item .nav-link {
  color: #155263;
 
}
.nav-item .nav-link2 {
  color: #155263;
}
.hidden {
  display: none;
}

.deletex {
  cursor: pointer;
  color: red;
}

#MemoryDestruct:hover {
  background-color: red;
}
a:hover {
  cursor: pointer;
}

.default-card {
  background-color: #f2f2f2; /* Grey background color */
}

.w-35 {
  width: 35% !important; /* Use !important to ensure this style takes precedence */
}

.w-30 {
  width: 30% !important; /* Use !important to ensure this style takes precedence */
}

.w-40 {
  width: 40% !important; /* Use !important to ensure this style takes precedence */
}

.w-4850 {
  width: 85% !important; /* Use !important to ensure this style takes precedence */
}

.w-200 {
  width: 150px;
}

.carthover .imghover {
  cursor: pointer;
}

.imghover {
  cursor: pointer;
}

p {
  text-align: left;
}

.sticky-sidebar {
  position: fixed;
  max-width: 20%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  cursor: pointer; /* Add cursor style to indicate clickable */
}

th {
  background-color: #f2f2f2;
}

td.selected {
  background-color: #a0c8f0; /* Change the background color for selected cells */
}

td.booked {
  background-color: #8af080; /* Change the background color for booked cells */
}
td.unavailable {
  background-color: #c1d7d7; /* Change the background color for booked cells */
}

.customBorder {
  border: 2px solid #155263;
  
}

.customBorderThinner {
  border: 1px solid #155263;
  
}



.customButtonColour {
  background-color: #FFCC47;
   color: white;
  font-weight: bold;

}

.alert {
  width:30%;    
  margin: 0 auto; /* This will center the alert horizontally */
}
